pydantic
tensorflow
numpy
requests
twine
PyYAML
h5py
pymongo
backoff
click
pandas
matplotlib
python-jose[cryptography]
boto3
# tensorflow_privacy@git+https://github.com/tensorflow/privacy.git@331a2911ac3cdf1d9d8d301813be3541257d5bf4#egg=tensorflow_privacy
tensorflow-privacy
azure-functions
scikit-learn
